include ../mixins/button

doctype strict
head
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width")
	include styles/ink
	include styles/default

body: table.body: tr: td(class="center", align="center", valign="top"): center



